<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>	        	        		
        		<li><a href="/blog">Blog</a></li>
			<li><a href="/book">Book</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:nikoraz@gmail.com">Email</a></li>
			<li><a href="https://github.com/nkrzv">Built on GitHub</a> & <a href="https://www.archlinux.org/">Arch Linux</a></li>
			</ul>
		</footer>
	</body>
</html>
