<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Nikolai Razouvaev: Writer, marketing problem solver. Apolitical anarchist.">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta property="og:title" content="Nikolai Razouvaev">
		<meta property="og:type" content="article">
		<!--<meta property="og:url" content="https://nikolai.com.au/">
		<meta property="og:image" content="https://nikolai.com.au/images/Nikolai-Razouvaev.png">-->
		<meta property="og:description" content="Nikolai Razouvaev: Writer, marketing problem solver. Apolitical anarchist.">
		<meta name="yandex-verification" content="76b7236a5ac3deaa" />
		<style type="text/css">
			[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
		</style>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97978061-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-97978061-1');
</script>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>	        	        		
        		<li><a href="/blog">Index</a></li>
        		<li><a href="/book">Book</a></li>			
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div>
		<footer>
    		<div style="--aspect-ratio: 3/2;">
  <iframe 
    src="https://nikolai.substack.com/embed"
    width="800"
    height="200"
    frameborder="0"
  >
  </iframe>
</div>
	</body>
</html>
