<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Nikolai Razouvaev: Writer, marketing problem solver. Apolitical anarchist.">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta property="og:title" content="Nikolai Razouvaev">
		<meta property="og:type" content="article">
		<!--<meta property="og:url" content="https://nikolai.com.au/">
		<meta property="og:image" content="https://nikolai.com.au/images/Nikolai-Razouvaev.png">-->
		<meta property="og:description" content="Nikolai Razouvaev: Writer, marketing problem solver. Apolitical anarchist.">
		<meta name="yandex-verification" content="76b7236a5ac3deaa" />
		<style media="screen">
			.container {
				margin: 15px;
			}
			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 100%;
			}
			.column {
				display: flex;
				flex-direction: column;
				flex-basis: 100%;
				flex: 1;
			}
			.triple-column {
				display: flex;
				flex-direction: column;
				flex-basis: 100%;
				flex: 3;
			}
		</style>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97978061-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
		gtag('config', 'UA-97978061-1');
		</script>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>	        	        		
        		<li><a href="/blog">Index</a></li>
        		<li><a href="/book">Book1</a></li>			
    		</ul>
		</nav>
		<div class="container">
			<div class="row">
				<div class="column">
					<iframe width="160" height="320" src="https://nikolai.substack.com/embed" frameborder="0" scrolling="no"></iframe>
				</div>
				<div class="triple-column">
					{{ content }}
				</div>
			</div>
		</div>
	<footer>
		<ul>
			<li><a href="mailto:nikoraz@gmail.com">Email</a></li>
			<li><a href="https://github.com/nkrzv">Built on GitHub</a> & <a href="https://www.archlinux.org/">Arch Linux</a></li>
		</ul>
	</footer>
	</body>
</html>
